<form class="editpost">
  <div class="form-group">
    <label for="post_title">Post Title</label>
    <p id="post_id">{{post.id}}</p>
    <input
      type="text"
      class="form-input"
      id="post_title"
      value="{{post.post_title}}"
    />
  </div>
  <div class="form-group">
    <label for="post_text">post text</label>
    <input
      type="text"
      class="form-input"
      id="post_text"
      value="{{post.post_text}}"
    />
  </div>
   <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  <p>posted by {{post.user.username}} on {{post.post_date}}</p>
</form>

<h2>Comments</h2>
{{#each post.comments}}
  <h3>{{this.user.username}}</h3>
  <p>{{this.comment_text}}</p>
  <p>- {{this.comment_date}}</p>
{{/each}}

<script src="/js/editpost.js"></script>