<div
  class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-8 px-16 shadow-2xl rounded-[40px]"
>
  <p class="text-gray-500">{{user.user_email}}</p>
  <h1 class="text-xl">@{{user.username}}</h1>

  <h2 class="text-xl font-bold mb-4 mt-8 inline">Your Posts</h2>
  <button class="inline float-right border"><a
      href="/new"
    >+</a></button>
  <div class="border-b w-full mb-4"></div>
  {{#each user.posts as |post|}}
  <a href="/api/posts/{{post.id}}">
    <div
      id="post-container"
      class="p-4 my-4 border rounded-full"
    >{{post.post_title}}
      -
      {{post.post_date}}</div>
      </a>
      <a href="/api/posts/edit/{{post.id}}">edit</a>
  {{/each}}
</div>